.btn{
  display: inline-flex;
  user-select: none;
  max-width: 100%;
  padding: 16px 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  background: var(--dark-blue);
  border-radius: 8px;
  border: none;
  transition: .25s;
  &-blue{
    background: var(--dark-blue);
    &-border{
      border: 1px solid var(--dark-blue);
    }
  }
  &-red{
    background: var(--red);
    &-border{
      border: 1px solid var(--red);
    }
  }
  &-white{
    background: var(--white);
    color: var(--dark-blue);
    &-border{
      border: 1px solid var(--white);
    }
  }
  &-grey{
    background: var(--dark-grey);
    &-border{
      border: 1px solid var(--dark-grey);
    }
  }
  &-light_gray{
    background: var(--light-gray);
    color: var(--dark-blue);
  }
  &-light_blue{
    background: var(--light-blue);
    color: var(--dark-blue);
  }
  &-light{
    background: var(--light);
    color: var(--dark-blue);
  }
  &-flex{
    min-width: 0px;
  }
  &-red_text{
    color: var(--red);
  }
  &:hover{
    text-decoration: none;
    box-shadow: 0 0.25em 0.25em -0.2em var(--dark-blue);
    transform: translateY(-0.1em);
  }
  &:disabled{
    opacity: .5;
    cursor: default;
    box-shadow: none;
    transform: translateY(-0);
  }
  svg{
    margin-left: 1rem;
  }
}