:root {
  --white: #FFF;
  --white-rgb: 255, 255, 255;
  --milk: #FFF8F0;
  --light: #F8FDFF;
  --grey: #F8FDFF;
  --dark-blue: #083952;
  --dark-blue-rgb: 8, 57, 82;
  --light-blue: #5793BF;
  --light-blue-rgb: 87, 147, 191;
  --red: #E31837;
  --dark-grey: #C8C8C8;
  --light-blue2: #D5E4EF;
  --light-blue2-rgb: 213, 228, 239;
  --light-blue3: #CDDFEC;
  --light-gray: #F2F2F2;
  --dark: #19191C;
}