.form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  &__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: res(8, 16);
  }
  &__field{
    width: 100%;
    margin-bottom: res(8, 16);
    @media(min-width:768px){
      &-6{
        width: calc(100% / (12 / 6) - 10px);
      }
      &-2{
        width: calc(100% / (12 / 2) - 10px);
      }
      &-4{
        width: calc(100% / (12 / 4) - 10px);
      }
      &-8{
        width: calc(100% / (12 / 8) - 10px);
      }
      &-10{
        width: calc(100% / (12 / 10) - 10px);
      }
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__feedback{
    color: var(--red);
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: center;
  }
  label{
    display: block;
    width: 100%;
    color: var(--dark-blue);
    text-align: left;
    font-size: res(10, 12);
    font-weight: 400;
    line-height: 133.333%;
    margin-bottom: res(4, 8);
  }
  input, select{
    display: block;
    width: 100%;
    height: res(50, 56);
    padding: 0;
    outline: none !important;
    padding: 0 res(12, 24);
    border-radius: 0.5rem;
    background: var(--light-gray);
    border: none;
    color: var(--dark-blue);
    font-size: 1rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 2.4px;
    &[type="checkbox"]{
      width: 24px;
      height: 24px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  [type="submit"]{
    display: block;
    width: 100%;
    max-width: 300px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    margin-top: res(32, 64);
  }
  &__newsletter{
    max-width: 300px;
    input{
      text-align: center;
      border: 1px solid var(--red);
      background-color: transparent;
      color: var(--dark-blue);
      border-radius: 12px;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 2.4px;
      text-transform: uppercase;
    }
    [type="submit"]{
      width: auto;
      margin-left: 0;
    }
    &__field{
      &:not(:first-child){
        margin-top: 20px;
      }
    }
  }
  &__small{
    font-size: 13px;
  }
  &__feedback{
    font-size: 12px;
    position: absolute;
    left: 0; right: 0;
    top: calc(100% + 10px);
  }
}