html, body, *{
  font-family: 'Aeonik Pro TRIAL', Helvetica, Arial, Lucida, sans-serif;
}
body{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--dark-blue);
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;
  @media(max-width:767px){
    br{ display: none; }
  }
}
h1, .h1{
  font-size: res(52, 72);
  letter-spacing: -1.44px;
}
h2, .h2{
  font-size: res(36, 56);
  letter-spacing: -1.12px;
}
h3, .h3{
  font-size: res(20, 26);
  letter-spacing: 3.9px;
  text-transform: uppercase;
}
h4, .h4{
  font-size: res(18, 24);
}
h5, .h5{
  font-size: res(16, 24);
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
h6, .h6{
  font-size: 16px;
  letter-spacing: 2.56px;
  text-transform: uppercase;
}

.h7{
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.h8{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.h9{
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.333%;
}

p, .p{
  font-size: res(16, 20);
  font-weight: 400;
  &-sm{
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 2.4px;
    text-transform: uppercase;
  }
}

ul{
  padding-left: 1rem;
  li{
    list-style: none;
    font-size: res(16, 20);
    font-style: normal;
    font-weight: 400;
  }
}

i{
  font-style: italic;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}