.layout__admin{
  padding-left: 3rem;
  padding-top: calc(48px + 1rem);
  padding-right: 1rem;
  padding-bottom: 1rem;
  transition: .25s ease;
  @media(min-width:768px){
    padding-left: calc(160px + 1rem);
  }
  &-collapsed{
    padding-left: 3rem;
  }
  h1{
    font-size: res(32, 40);
    margin-bottom: 2rem;
  }
  h2{
    font-size: res(28, 32);
  }
  h3{
    font-size: res(24, 28);
  }
  h4{
    font-size: res(20, 24);
  }
  h5{
    font-size: res(18, 20);
  }
  h6{
    font-size: res(16, 18);
  }
  p{
    font-size: res(14, 16);
  }
  &-modile{}
}

.admin{
  &__list{
    border: 1px solid var(--dark-blue);
    border-radius: 4px;
    &-users{
      .admin__item-name{
        text-align: left;
        margin-left: 0;
      }
    }
  }
  &__item{
    padding: 1rem .5rem;
    padding-right: 8px;
    display: flex;
    flex-wrap: wrap;
    transition: background .2s ease;
    &:not(:first-child){
      border-top: 1px solid var(--dark-blue);
    }
    &:nth-child(odd){
      background: rgba(var(--dark-blue-rgb), .05);
    }
    &:hover{
      background: rgba(var(--light-blue-rgb), .5) !important;
      cursor: pointer;
      a{
        color: var(--dark-blue);
      }
    }
    &-head{
      background: var(--dark-blue) !important;
      color: var(--white);
      &:hover{
        background: var(--dark-blue) !important;
        cursor: default;
      }
      & > * {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
    &-id{
      min-width: 32px;
    }
    &-order{
      min-width: 110px;
      font-weight: 600;
      a{
        font-size: 12px;
        color: var(--light-blue);
        &:not(:first-child){
          &:before{
            content: ',';
            display: inline-block;
            margin-right: 0.25rem;
          }
        }
      }
    }
    &-name{
      margin-left: 1rem;
      font-weight: 600;
      width: 120px;
      text-align: right;
    }
    &-phone{
      margin-left: 1rem;
      width: 90px;
      text-align: center;
      margin-left: 1rem;
    }
    &-email{
      margin-left: auto;
      width: 200px;
      text-align: center;
    }
  }
  &__row{
    display: block;
    &:not(:last-child){
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--dark-blue);
    }
    &-flex{
      display: flex;
      justify-content: space-between;
      & > div{
        width: calc(50% - 1rem);
      }
    }
    &-item, p{
      &:not(:last-child){
        margin-bottom: .5rem;
      }
    }
  }
}