@import 'base/all';

.page > section{
  overflow: hidden;
}

@media(min-width:1200px){
  body::-webkit-scrollbar {
    width: 6px;
  }

  body::-webkit-scrollbar-track {
    background: transparent;
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    border-radius: 3px;
  }
}

.container {
  width: 100%;
  max-width: 1340px;
  padding: 0 res(15, 20);
  margin-left: auto;
  margin-right: auto;
}

.start{
  position: relative;
  min-height: calc(var(--vh, 1vh) * 100);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: res(110, 130);
  padding-bottom: res(30, 50);
  &__step{
    width: 100%;
    text-align: center;
    padding: res(32, 50) 0 0;
    h2, .h2{
      margin-bottom: res(16, 32);
      // font-size: res(26, 42);
    }
    h6, .h6{
      margin-bottom: res(16, 32);
      color: var(--dark-blue);
      // font-size: res(14, 16);
    }
    .btn{
      @media(max-width:575px){
        font-size: 14px;
      }
    }
  }
  .container{
    position: relative;
  }
  &__question{
    margin-bottom: 25px;
    color: var(--dark-blue);
  }
  &__form{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    button{
      margin-top: 60px;
    }
  }
  &__field{
    position: relative;
    &:not(:first-child){
      margin-top: 16px;
    }
    input, select{
      display: block;
      width: 100%;
      padding: 0 30px;
      height: 56px;
      border-radius: 8px;
      background: var(--light-gray);
      border: none;
      color: var(--dark-blue);
      font-size: 16px;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: 2.4px;
      text-transform: uppercase;
      &[type="radio"]{
        display: none;
        & + label {
          position: relative;
          padding: 16px 30px 16px 50px;
          border-radius: 8px;
          background: var(--light-gray);
          cursor: pointer;
          &:before, &:after{
            content:"";
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
          &:before{
            width: 22px;
            height: 22px;
            left: 16px;
            border: 2px solid var(--dark-grey);
          }
          &:after{
            width: 16px;
            height: 16px;
            left: 19px;
            background: var(--dark-blue);
            opacity: 0;
            transition: .25s;
          }
        }
        &:checked{
          & + label:after{
            opacity: 1;
          }
        }
      }
    }
    textarea{
      display: flex;
      width: 100%;
      border: none;
      height: 150px;
      padding: res(8, 16) res(10, 30);
      resize: none;
      border-radius: .5rem;
      background: var(--light-gray);
      color: var(--Dark-blue, #083952);
      font-size: 16px;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: 2.4px;
      text-transform: uppercase;
    }
    label{
      display: block;
      text-align: left;
      margin: 4px 0 0;
      color: var(--dark-blue);
    }
  }
  &__error{
    font-size: 12px;
    color: var(--red);
    position: absolute;
    text-align: right;
    top: 100%;
  }
  &__sub{
    position: absolute;
    left: 2rem;
    top: 0;
    transform: translateY(-40px);
    color: var(--dark);
  }
  &__group{
    margin-top: res(24, 40);
    button{
      min-width: 300px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      &:not(:first-child){
        margin-top: 1rem;
      }
    }
  }
}

.products{
  h2{
    margin-bottom: res(16, 24);
  }
  .h7, .h8{
    color: var(--dark-blue)
  }
  h2 + .h7{
    margin-bottom: res(16, 24);
    margin-left: auto;
    max-width: 570px;
    margin-right: auto;
  }
  .h8{
    margin-bottom: res(70, 87);
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
  }
  &__summary{
    h6, .h8{
      text-align: left;
      max-width: 776px;
      margin-left: auto;
      margin-right: auto;
    }
    .h8{
      margin-top: 2rem;
    }
  }
}

.product{
  max-width: 776px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  transition: .3s;
  @media(min-width:768px){
    display: flex;
  }
  &:not(:first-child){
    margin-top: 4rem;
  }
  &__left, &__right{
    position: relative;
    @media(min-width:768px){
      width: 50%;
    }
  }
  &__left{
    background: var(--white);
  }
  &__true{
    box-shadow: 4px 4px 16px 0px rgba(8, 57, 82, 0.40);
  }
  &__right{
    background: rgba(var(--light-blue2-rgb), .5);
    padding: 32px res(16, 32);
  }
  * {
    color: var(--dark-blue);
  }
  .h8{
    margin-bottom: 16px;
    &:last-child{
      margin-bottom: 8px;
    }
    ul{
      margin-top: 0.5rem;
      padding-left: 1.5rem;
    }
    li{
      list-style: disc;
    }
  }
  .h9{
    margin-bottom: 20px;
  }
  &__list{
    margin-bottom: 20px;
    padding-left: 1rem;
    li.h9{
      margin-bottom: 0;
    }
  }
  &__price{
    span{
      font-size: 16px;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: 2.4px;
      text-transform: uppercase;
    }
  }
  &__left{
    @media(max-width:767px){
      background: rgba(var(--light-blue2-rgb), 0.5);
    }
  }
  &__image{
    display: block;
    width: 100%;
    @media(max-width:767px){
      width: calc(100% - 2rem);
      margin-left: auto;
      margin-right: auto;
      margin-top: 16px;
    }
  }
  &__name{
    background: var(--light-blue4);
    padding: res(8, 16) res(16, 32);
    @media(max-width:767px){
      width: 100%;
    }
    @media(min-width:768px){
      position: absolute;
      left: res(10, 24);
      right: res(10, 24);
      top: 0;
      transform: translate(0, -50%);
    }
  }
  &__checkbox{
    input{
      display: none;
      &:checked + label{
        background: var(--red);
        color: var(--white);
      }
      &[type="checkbox"]{
        & + label{
          border-radius: 4px;
          &:before{
            border-radius: 2px;
          }
        }
      }
    }
    label{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      cursor: pointer;
      border-radius: 12px;
      background: var(--light-gray);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      color: var(--dark-blue);
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 2.4px;
      text-transform: uppercase;
      height: 56px;
      transition: box-shadow 1s ease, background .5s ease;
    }
  }
  &__top{
    position: absolute;
    left: res(15, 30);
    top: 0;
    display: flex;
    align-items: center;
    transform: translate(0, -50%);
  }
  &__recom, &__best{
    padding: 4px 16px;
    color: var(--white);
    margin-bottom: 0 !important;
    background: var(--white);
    font-size: res(13, 16);
  }
  &__recom{
    border: 1px solid var(--red);
    color:  var(--red);
    left: 30px;
  }
  &__best{
    border: 1px solid #1159C5;
    color:  #1159C5;
    margin-left: 16px;
  }
  &__link{
    color: var(--red);
    font-size: 14px;
    font-weight: 400;
    line-height: 133.333%;
    background: none;
    border: none;
    padding: 0;
  }
  &__disable{
    cursor: default;
    pointer-events: none;
  }
}

.products__summary{
  .product__false, .product__checkbox{
    display: none;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transition: opacity .5s ease;
}

// Transition slide-fade
.slide-fade{
  &-enter-active {
    transition: all 1s ease-out;
  }
  &-leave-active {
    transition: all 2s cubic-bezier(1, 0.5, 0.8, 1);
  }
  &-enter-from, &-leave-to {
    max-height: 0px;
    opacity: 0;
  }
}

.page__info{
  padding: res(80, 100) 0 2rem;
  h1{
    margin-bottom: 2.5rem;
  }
  h2{
    margin-bottom: 2.5rem;
  }
  p{
    & + p{
      margin-top: 2rem;
    }
    i{
      display: block;
      margin-bottom: 1rem;
    }
  }
  h3{
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  h4{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  a{
    color: var(--dark-blue);
  }
  li{
    list-style: disc;
    margin-bottom: 1rem;
    li{
      list-style: circle;
      margin-bottom: .5rem;
    }
  }
  ul{
    padding-left: 2rem;
    margin: 1rem 0 2rem;
  }
}

