name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Deploying
        env:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          path: ${{ secrets.PATH }}
          username_mode: ${{ secrets.USERNAME_MODE }}
        uses: appleboy/ssh-action@master
        with:
          host: ${host}
          username: ${username}
          password: ${password}
          script: |
            cd ${path}
            git pull
            npm run build
            pm2 restart dosable.com
            chown -R ${username_mode}:${username_mode} ${path}